body {
    font-family:'Exo', sans-serif;
}

/*Log in screen*/

.bigBox {
    h2, p, span, div {
        color: $snow-white;
    }

    a {
        color: $mint-green;
        text-decoration: none;
    }
}

/*Homepage screen*/

.homepage {
    color: $snow-white;
}

.header-container {
    a {
        text-decoration: none;
        color: $snow-white;
    }
}

.homepage-input {
    font-family: 'Exo', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.94px;
    color: #3D3D3D;
}

.title-container {
    h1 {
        font-size: 48px;
        font-weight: 800;
        line-height: 63.79px;
    }
    span {
        font-size: 18px;
        font-weight: 400;
        line-height: 23.92px;
    }
}

.mode-switch {
    span {
        font-size: 15px;
        font-weight: 400;
        line-height: 19.94px;
    }
}
/*REVIEW*/
.nav-options {
    font-size: 20px;
    font-weight: 700;
    line-height: 26.58px;

    a {
        text-decoration: none;
        color: $snow-white;
    }
}

.nav-options--selected {
    font-size: 20px;
    font-weight: 700;
    line-height: 26.58px;
    a {
        color: $mint-green;
        text-decoration: none;
    }
}

.nav-list {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.92px;
}

.cardTitle {
    h3 {
        font-weight: 700;
        font-size: 24px;
    }

    h5 {
        color: $jaded-green;
        font-weight: 700;
        font-size: 18px;
    }
}

.cardInfo {
    p{
        font-weight: 500;
        font-size: 14px;
    }
    span {
        color: $fossil-grey;
        font-weight: 400;
    }
}