/*colors*/
$iris-blue: #5f81fb;
$lapis-blue: #1245c9;
$deep-blue: #06207b;
$coral-reef: #fb5f5f;
$hey-honey: #ffdc22;

$mint-green: #5FE19B;
$jaded-green: #36b972;
$dark-green: #067b3c;

$shadow-black: #141414;
$charcoal-grey: #303030;
$ashtray-grey: #515151;
$fossil-grey: #939393;
$pewter-grey: #c4c4c4;
$pebbles-grey: #d8d8d8;
$smoke-grey: #e7e7e7;
$mink-grey: #f0f0f0;
$snow-white:#ffffff;