/*colors*/
body {
  font-family: "Exo", sans-serif;
}

/*Log in screen*/
.bigBox h2, .bigBox p, .bigBox span, .bigBox div {
  color: #ffffff;
}
.bigBox a {
  color: #5FE19B;
  text-decoration: none;
}

/*Homepage screen*/
.homepage {
  color: #ffffff;
}

.header-container a {
  text-decoration: none;
  color: #ffffff;
}

.homepage-input {
  font-family: "Exo", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.94px;
  color: #3D3D3D;
}

.title-container h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 63.79px;
}
.title-container span {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.92px;
}

.mode-switch span {
  font-size: 15px;
  font-weight: 400;
  line-height: 19.94px;
}

/*REVIEW*/
.nav-options {
  font-size: 20px;
  font-weight: 700;
  line-height: 26.58px;
}
.nav-options a {
  text-decoration: none;
  color: #ffffff;
}

.nav-options--selected {
  font-size: 20px;
  font-weight: 700;
  line-height: 26.58px;
}
.nav-options--selected a {
  color: #5FE19B;
  text-decoration: none;
}

.nav-list {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.92px;
}

.cardTitle h3 {
  font-weight: 700;
  font-size: 24px;
}
.cardTitle h5 {
  color: #36b972;
  font-weight: 700;
  font-size: 18px;
}

.cardInfo p {
  font-weight: 500;
  font-size: 14px;
}
.cardInfo span {
  color: #939393;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  width: 322px;
  height: 66px;
  margin-left: 39px;
  margin-top: 30px;
}

/*Log in screen view*/
.logIn-container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(3, [row] auto);
  gap: 10px;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background: url(../assets/images/Black1.jpg), #c4c4c4;
  background-repeat: no-repeat;
  background-position: center center;
}

.logIn-header {
  grid-column: 1;
  grid-row: 1;
}

.logIn-main {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.logIn-footer {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-bigBox {
  flex-grow: 10;
  display: flex;
  justify-content: flex-end;
}

/* Log in card */
.bigBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 50px;
  max-width: 462px;
  height: 702px;
  background: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  border-radius: 12px;
}
.bigBox h2 {
  margin-bottom: 10px;
}
.bigBox p {
  margin-bottom: 32px;
}

.button, .buttonLogIn, .buttonSocialmedia {
  font-family: "Exo", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  width: 362px;
  height: 47px;
  border-radius: 6px;
  cursor: pointer;
}

.buttonSocialmedia {
  background: none;
  border: 2px solid #ffffff;
  margin: 19px 0px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonSocialmedia svg {
  margin-right: 12px;
}
.buttonSocialmedia:hover {
  opacity: 0.7;
}

.buttonLogIn {
  background-color: #4cc986;
  border: 0px;
  margin-bottom: 32px;
}
.buttonLogIn:hover {
  background-color: #5FE19B;
}

.logIn-input {
  box-sizing: border-box;
  width: 362px;
  height: 47px;
  margin-bottom: 16px;
  padding: 16px 10.6px 16px 10.6px;
  font-family: "Exo", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  background: #ffffff;
  border-radius: 4px;
  border: 0px;
}

.psw-input {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pswEye {
  position: absolute;
  display: inline-block;
  align-self: flex-end;
  margin-top: 12px;
  margin-right: 9.16px;
}

.pswRememberBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 25px;
}

.psw-checkbox {
  position: absolute;
  opacity: 0;
}
.psw-checkbox + .psw-label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.psw-checkbox + .psw-label::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: none;
  border: 1.5px solid #ffffff;
  border-radius: 4px;
}
.psw-checkbox:checked + .psw-label::before {
  background: #36b972;
}
.psw-checkbox:checked + .psw-label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 9px;
  background: #ffffff;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #ffffff, 4px 0 0 #ffffff, 4px -2px 0 #ffffff, 4px -4px 0 #ffffff, 4px -6px 0 #ffffff, 4px -8px 0 #ffffff;
  transform: rotate(45deg);
}

.psw-label:hover::before {
  background: #36b972;
}

.psw-label {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  opacity: 0.5;
  height: 19px;
  margin-top: 25px;
  margin-bottom: 29px;
}
.separator::before {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ffffff;
}
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ffffff;
}
.separator:not(:empty)::before {
  margin-right: 19px;
}
.separator:not(:empty)::after {
  margin-left: 19px;
}

/*Carrousel*/
.buttonCarrousel {
  flex-grow: 1;
  margin-bottom: 90px;
  height: 44px;
  cursor: pointer;
}
.buttonCarrousel:hover {
  opacity: 0.7;
}

/*Homepage screen view*/
.homepage {
  background-color: #141414;
  width: 100vw;
  height: 100vh;
}

/*header*/
.logo-homepage {
  width: 293px;
  height: 60px;
}

.header-container {
  padding: 0px 40px 0px 27px;
  /*position: sticky;
  top: auto;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 94px;
  background-image: linear-gradient(#5FE19B, #36b972, #0EA152);
}

.homepage-input {
  flex: 1;
  height: 25px;
  border: none;
  outline: none;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 362px;
  height: 47px;
  align-items: center;
  padding: 10.58px 8px 10.57px 8px;
  background: #ffffff;
  border-radius: 4px;
  border: 0px;
}
.search-bar svg {
  margin-right: 8px;
}

.header-admin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-admin a {
  margin-right: 16px;
}
.header-admin img {
  cursor: pointer;
}

/*New and trending section*/
.title-container {
  /*position: sticky;
  top: auto;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 19px 40px 31px 40px;
}

/*Mode Switch*/
.mode-switch {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.mode-text {
  margin-right: 13px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
}

.input-switch {
  opacity: 0;
  width: 0;
  height: 0;
}
.input-switch:checked + .slider {
  background-color: #5f81fb;
}
.input-switch:focus + .slider {
  box-shadow: 0 0 1px #5f81fb;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #939393;
  transition: 0.4s;
}
.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  border-radius: 50%;
  left: 3px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

.input-switch:checked + .slider:before {
  transform: translateX(20px);
}

/*End of switch*/
.homepage-display {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.homepage-display button {
  margin-left: 24px;
  margin-top: 19px;
  height: 40px;
  width: 40px;
  border: none;
  background: none;
  cursor: pointer;
}
.homepage-display button:hover svg {
  transform: scale(1.1);
}

/*Nav and card container*/
.main-container {
  display: flex;
  flex-direction: row;
}

/*Nav section*/
.nav-container {
  /*position: sticky;
  top: auto;*/
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 220px;
  padding: 0px 15px 0px 40px;
}
.nav-container ul li {
  list-style-type: none;
}

.nav-options {
  margin-bottom: 17px;
}

.nav-options--selected {
  margin-bottom: 17px;
}

.nav-list li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 17px;
}
.nav-list svg {
  margin-right: 8px;
}

/*Card design*/
.cards-container {
  padding-right: 40px;
  padding-left: 33px;
  flex: 7;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 363px));
  gap: 24px;
}

.gameCard {
  background-color: #303030;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  min-height: 314px;
  max-height: 332px;
  max-width: 363px;
  min-width: 288px;
}
.gameCard article {
  box-sizing: border-box;
  padding: 16px 16px 16px 18px;
}

.cardTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 11px;
}

.cardInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cardInfo p {
  padding: 4px 0px;
}
.cardInfo svg {
  margin: 16px 5px 0px 5px;
}

/*Footer*/
.homepage-footer {
  height: 94px;
  background-image: linear-gradient(to top, #141414, transparent);
  position: sticky;
  bottom: 0px;
}

/*# sourceMappingURL=style.css.map */
